<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CenterSpace.NMath" version="6.2.0.40" targetFramework="net452" />
  <package id="Microsoft.Solver.Foundation" version="3.1.0" targetFramework="net452" />
  <package id="NUnit" version="2.6.4" targetFramework="net452" />
  <package id="Vector-2D" version="1.1.0.88" targetFramework="net452" />
</packages>